---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>Blog Index</h1>
  <p>Welcome to the blog index page.</p>
  <a href="/blog/singapore-address-format" class="underline">Example Post: Singapore Address Format</a>
</BaseLayout>
