---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { class: className, href, rel = 'nofollow noopener noreferrer', ...rest } = Astro.props as Props;
---

<a
  href={href}
  class={className}
  target="_blank"
  rel={rel}
  data-umami-event="external-link-click"
  data-umami-event-url={href}
  {...rest}
>
  <slot />
</a>
