@use 'colours';
@use 'mixins';
@use 'input';

.comentario-comment-editor {
  width: 100%;
  display: flex;
  flex-direction: column;

  .comentario-comment-editor-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-top: 8px;
  }

  .comentario-comment-editor-preview {
    min-height: input.$textarea-min-height;
    padding: input.$textarea-padding;
    border: 1px solid;
    border-color: var(--cmntr-table-border);
    border-radius: 8px;

    @include mixins.comment-text();
  }
}
