@use 'colours';

@mixin theme-props($theme: light) {
  // Light theme properties
  @if $theme == light {
    --cmntr-bg: #{colours.$neutral-200};
    --cmntr-bg-shade: #{colours.$neutral-100};
    --cmntr-bg-highlight: #{colours.$indigo-200};
    --cmntr-bg-blink: #{colours.$yellow-300};
    --cmntr-danger-bg: #{colours.$red-100};
    --cmntr-deleted-bg: #{colours.$pink-200};
    --cmntr-dlg-header-bg: #{colours.$neutral-300};
    --cmntr-input-bg: #{colours.$white};
    --cmntr-pending-bg: #{colours.$neutral-200};
    --cmntr-placeholder-bg: #{colours.$neutral-300};
    --cmntr-placeholder-mask: #{colours.$neutral-900};
    --cmntr-rejected-bg: #{colours.$yellow-100};
    --cmntr-success-bg: #{colours.$green-100};
    --cmntr-warning-bg: #{colours.$yellow-100};

    --cmntr-color: #{colours.$neutral-800};
    --cmntr-danger-color: #{colours.$red-700};
    --cmntr-input-color: #{colours.$neutral-700};
    --cmntr-input-ph-color: #{colours.$neutral-500};
    --cmntr-input-disabled-color: #{colours.$neutral-600};
    --cmntr-label-color: #{colours.$neutral-700};
    --cmntr-link-color: #{colours.$amber-500};
    --cmntr-link-hover-color: #{colours.$amber-300};
    --cmntr-muted-color: #{colours.$neutral-600};
    --cmntr-score-color: #{colours.$neutral-400};
    --cmntr-score-up-color: #{colours.$green-600};
    --cmntr-score-down-color: #{colours.$orange-600};
    --cmntr-sticky-color: #{colours.$yellow-400};
    --cmntr-success-color: #{colours.$green-700};
    --cmntr-warning-color: #{colours.$yellow-700};
    --cmntr-primary-color: #{colours.$sky-500};
    --cmntr-secondary-color: #{colours.$teal-500};

    --cmntr-card-border: #{colours.$neutral-100};
    --cmntr-dlg-border: #{colours.$neutral-500};
    --cmntr-pending-border: #{colours.$yellow-600};
    --cmntr-table-border: #{colours.$neutral-300};
    --cmntr-host-border: #{colours.$neutral-300};

    // Dark theme properties
  } @else {
    color-scheme: dark;
    --cmntr-bg: #{colours.$neutral-800};
    --cmntr-bg-shade: #{colours.$neutral-700};
    --cmntr-bg-highlight: #{colours.$indigo-700};
    --cmntr-bg-blink: #{colours.$yellow-600};
    --cmntr-danger-bg: #{colours.$red-900};
    --cmntr-deleted-bg: #{colours.$pink-500};
    --cmntr-dlg-header-bg: #{colours.$neutral-900};
    --cmntr-input-bg: #{colours.$neutral-700};
    --cmntr-pending-bg: #{colours.$neutral-700};
    --cmntr-placeholder-bg: #{colours.$neutral-600};
    --cmntr-rejected-bg: #{colours.$yellow-800};
    --cmntr-success-bg: #{colours.$green-800};
    --cmntr-warning-bg: #{colours.$yellow-800};

    --cmntr-color: #{colours.$neutral-200};
    --cmntr-danger-color: #{colours.$red-200};
    --cmntr-input-color: #{colours.$neutral-200};
    --cmntr-input-ph-color: #{colours.$neutral-400};
    --cmntr-input-disabled-color: #{colours.$neutral-300};
    --cmntr-label-color: #{colours.$neutral-200};
    --cmntr-link-color: #{colours.$amber-600};
    --cmntr-link-hover-color: #{colours.$amber-400};
    --cmntr-muted-color: #{colours.$neutral-300};
    --cmntr-score-color: #{colours.$neutral-500};
    --cmntr-score-up-color: #{colours.$green-300};
    --cmntr-score-down-color: #{colours.$orange-300};
    --cmntr-sticky-color: #{colours.$yellow-500};
    --cmntr-success-color: #{colours.$green-200};
    --cmntr-warning-color: #{colours.$yellow-200};
    --cmntr-primary-color: #{colours.$sky-600};
    --cmntr-secondary-color: #{colours.$teal-600};

    --cmntr-card-border: #{colours.$neutral-800};
    --cmntr-dlg-border: #{colours.$neutral-600};
    --cmntr-pending-border: #{colours.$yellow-300};
    --cmntr-table-border: #{colours.$neutral-600};
    --cmntr-host-border: #{colours.$neutral-700};
  }
}
