---
import johnMeme from '@/assets/pulp-fiction-john-travolta.gif';
import Button from '@/components/starwind/button';
import { Card } from '@/components/starwind/card';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

const title = '404 - Not Found';
const description = 'The page you are looking for does not exist.';
---

<BaseLayout {title} {description}>
  <Card class="mx-auto mt-16 max-w-md p-4 text-center">
    <h1 class="mb-2 font-heading text-6xl md:text-8xl">404</h1>
    <p class="mb-4 text-xl text-muted-foreground md:text-2xl">Not Found</p>
    <Image
      src={johnMeme}
      width={320}
      height={320}
      alt="John Travolta confused meme from Pulp Fiction"
      class="mx-auto mb-4 rounded-xl"
      layout="constrained"
    />
    <p class="my-4 text-lg">The page you are looking for does not exist.</p>
    <nav class="flex flex-wrap justify-center gap-4">
      <Button href="/" class="w-40" variant="primary"> Back to Home </Button>
      <Button href="/blog" class="w-40"> Read the Blog </Button>
    </nav>
  </Card>
</BaseLayout>
