---
import HeroSection from '@/components/HeroSection.astro';
import { Button } from '@/components/starwind/button';
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '@/components/starwind/card';
import { Input } from '@/components/starwind/input';
import { Label } from '@/components/starwind/label';
import { Textarea } from '@/components/starwind/textarea';
import BaseLayout from '@/layouts/BaseLayout.astro';
import MailIcon from '@tabler/icons/outline/mail.svg';
---

<BaseLayout title="Contact Me">
  <HeroSection title="Contact Me" subtitle="If you have any questions or inquiries, I'd love to hear from you!" />
  <form class="mx-auto max-w-md">
    <Card>
      <CardHeader class="p-4 md:p-6">
        <CardTitle>Get in Touch</CardTitle>
        <CardDescription>Fill out the form below to contact me.</CardDescription>
      </CardHeader>
      <CardContent class="space-y-4 p-4 md:p-6">
        <div class="space-y-2">
          <Label for="name">Name</Label>
          <Input id="name" type="text" placeholder="Bob Jones" autocomplete="name" required />
        </div>
        <div class="space-y-2">
          <Label for="email">Email</Label>
          <Input id="email" type="email" placeholder="bob.jones@example.com" autocomplete="email" required />
        </div>
        <div class="space-y-2">
          <Label for="message">Message</Label>
          <Textarea id="message" placeholder="Hi there" rows="6" required />
        </div>
      </CardContent>
      <CardFooter class="p-4 md:p-6">
        <Button id="submit-button" class="w-full" variant="primary" type="submit">
          <MailIcon class="mr-2" />
          Send Message
        </Button>
      </CardFooter>
    </Card>
  </form>
</BaseLayout>

<script>
  import { actions } from 'astro:actions';

  const submitButton = document.querySelector<HTMLButtonElement>('#submit-button');
  const nameInput = document.querySelector<HTMLInputElement>('#name');
  const emailInput = document.querySelector<HTMLInputElement>('#email');
  const messageInput = document.querySelector<HTMLTextAreaElement>('#message');

  submitButton?.addEventListener('click', async (event) => {
    event.preventDefault();

    const { data, error } = await actions.processContactForm({
      name: nameInput?.value || '',
      email: emailInput?.value || '',
      message: messageInput?.value || ''
    });

    if (error) {
      alert('There was an error sending your message. Please try again later.');
      return;
    }

    console.log('Form submitted successfully:', data);
  });
</script>
