---
import Link from '@/components/links/Link.astro';
import { ABOUT_PATH, CONTACT_PATH, HOME_PATH, POSTS_PATH, PROJECTS_PATH } from '@/constants';
import ArticleIcon from '@tabler/icons/outline/article.svg';
import ChecklistIcon from '@tabler/icons/outline/checklist.svg';
import HomeIcon from '@tabler/icons/outline/home.svg';
import MailIcon from '@tabler/icons/outline/mail.svg';
import UserIcon from '@tabler/icons/outline/user.svg';

export const links = [
  { href: HOME_PATH, text: 'Home', Icon: HomeIcon },
  { href: ABOUT_PATH, text: 'About', Icon: UserIcon },
  { href: PROJECTS_PATH, text: 'Projects', Icon: ChecklistIcon },
  { href: POSTS_PATH, text: 'Posts', Icon: ArticleIcon },
  { href: CONTACT_PATH, text: 'Contact', Icon: MailIcon }
];

interface Props {
  class: string;
}

function isActive(href: string) {
  const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === '/' + (subpath?.[0] || '');
}

const { class: className } = Astro.props;
---

<nav class={className}>
  {
    links.map(({ href, text, Icon }) => (
      <Link
        href={href}
        class:list={[
          'rounded-lg px-3 py-2 text-lg transition-colors hover:bg-accent/80 hover:text-neutral-50',
          { 'text-accent': isActive(href) }
        ]}
      >
        <Icon width={22} height={22} class="mr-1 mb-1 hidden lg:inline-block" stroke-width={1.25} />
        {text}
      </Link>
    ))
  }
</nav>
