---
import Link from '@/components/links/Link.astro';
import { Tooltip, TooltipContent, TooltipTrigger } from '@/components/starwind/tooltip';
import BlueskyIcon from '@tabler/icons/outline/brand-bluesky.svg';
import GithubIcon from '@tabler/icons/outline/brand-github.svg';
import LinkedinIcon from '@tabler/icons/outline/brand-linkedin.svg';
import MastodonIcon from '@tabler/icons/outline/brand-mastodon.svg';
import RedditIcon from '@tabler/icons/outline/brand-reddit.svg';

interface Props {
  class: string;
}

const { class: className = '' } = Astro.props;

const links = [
  { href: 'https://github.com/frasermclean', Icon: GithubIcon, label: 'GitHub' },
  { href: 'https://linkedin.com/in/frasermclean', Icon: LinkedinIcon, label: 'LinkedIn' },
  { href: 'https://mastodon.social/@frasermclean', Icon: MastodonIcon, label: 'Mastodon' },
  { href: 'https://bsky.app/profile/frasermclean.com', Icon: BlueskyIcon, label: 'Bluesky' },
  { href: 'https://www.reddit.com/user/frasermclean/', Icon: RedditIcon, label: 'Reddit' }
];
---

<nav class={className}>
  {
    links.map(({ href, Icon, label }) => (
      <Tooltip>
        <TooltipTrigger>
          <Link href={href} class="text-neutral-50 hover:text-accent" rel="me" aria-label={label}>
            <Icon width={28} height={28} stroke-width={1.25} />
          </Link>
        </TooltipTrigger>
        <TooltipContent side="bottom">{label}</TooltipContent>
      </Tooltip>
    ))
  }
</nav>
