---
import SectionHeading from '@/components/SectionHeading.astro';
import StarIcon from '@tabler/icons/outline/star.svg';
import type { CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';

interface Props {
  entry: CollectionEntry<'posts'>;
}

const { entry } = Astro.props as Props;
---

<section class="flex h-full flex-col">
  <SectionHeading Icon={StarIcon} text="Featured" />
  <PostCard slug={entry.id} {...entry.data} variant="featured" />
</section>
