---
import StarIcon from '@tabler/icons/outline/star.svg';
import { getCollection } from 'astro:content';
import PostCardLink from './PostCardLink.astro';

const sortedPosts = (await getCollection('posts')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

const featuredPost = sortedPosts.find((post) => post.data.isFeatured) || sortedPosts[0];
---

{
  featuredPost && (
    <section>
      <div class="mb-4 flex items-center justify-center gap-2 text-secondary">
        <StarIcon class="h-6 w-6 md:h-8 md:w-8" />
        <h2 class="font-heading text-2xl font-semibold text-secondary md:text-4xl">Featured Post</h2>
      </div>

      <PostCardLink href={`/posts/${featuredPost.id}`} {...featuredPost.data} />
    </section>
  )
}
