---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  text: string;
  headingTag?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
  imageSrc: ImageMetadata;
  imageAlt?: string;
  imageWidth?: number;
  imageHeight?: number;
}

const { text, headingTag = 'h2', imageSrc, imageAlt, imageWidth = 40, imageHeight = 40 } = Astro.props;

const HeadingTag = headingTag;
---

<div class="flex items-center gap-4">
  <HeadingTag>{text}</HeadingTag>
  <Image src={imageSrc} alt={imageAlt ?? text} width={imageWidth} height={imageHeight} class="not-prose" />
</div>
