---
import { NAVIGATION_LINKS as links } from '@/constants';

interface Props {
  class: string;
}

function isActive(href: string) {
  const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === '/' + (subpath?.[0] || '');
}

const { class: className } = Astro.props;
---

<nav class={className}>
  {
    links.map(({ href, text, Icon }) => (
      <a
        href={href}
        class={`rounded-lg px-3 py-2 text-lg hover:bg-accent/80 hover:text-neutral-50 ${isActive(href) ? 'font-bold text-primary' : ''}`}
      >
        <Icon width={22} height={22} class="mr-1 mb-1 hidden lg:inline-block" stroke-width={isActive(href) ? 2 : 1} />
        {text}
      </a>
    ))
  }
</nav>
