---
import { NAVIGATION_LINKS as links } from '@/constants';

function isActive(href: string) {
  const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
  const subpath = pathname.match(/[^\/]+/g);
  return href === pathname || href === '/' + (subpath?.[0] || '');
}
---

<nav class="hidden md:flex">
  {
    links.map(({ href, text }) => (
      <a
        href={href}
        class={`rounded-md px-3 py-2 text-lg hover:bg-primary/40 hover:text-foreground ${isActive(href) ? 'font-bold text-primary underline' : ''}`}
      >
        {text}
      </a>
    ))
  }
</nav>
