---
import TagIcon from '@tabler/icons/outline/tag.svg';
import { getCollection } from 'astro:content';
import RoundedLink from './RoundedLink.astro';

const posts = await getCollection('posts');
const TAG_LIMIT = 25;

// extract all tags and count their occurrences
const allTags = posts.flatMap((post) => post.data.tags);
const tagCounts = allTags.reduce(
  (acc, tag) => {
    acc[tag] = (acc[tag] || 0) + 1;
    return acc;
  },
  {} as Record<string, number>
);

console.log(tagCounts);

// get the most popular tags sorted by count, then alphabetically
const popularTags = Object.entries(tagCounts)
  .sort((a, b) => b[1] - a[1])
  .slice(0, TAG_LIMIT)
  .map(([tag]) => tag)
  .sort();
---

<section>
  <div class="mb-4 flex items-center gap-2 text-secondary">
    <TagIcon />
    <h2 class="font-heading text-2xl font-semibold md:text-4xl">Popular Tags</h2>
  </div>

  <div class="flex flex-wrap justify-center gap-2">
    {popularTags.map((tag) => <RoundedLink href={`/tags/${tag}`}>{tag}</RoundedLink>)}
  </div>
</section>
