---
import { actions } from 'astro:actions';
import BubblesVoteCount from './BubblesVoteCount.astro';
import Badge from './starwind/badge';
import WebMentionComment from './WebMentionComment.astro';
import WebMentionLike from './WebMentionLike.astro';

interface Props {
  slug: string;
}

const { slug } = Astro.props as Props;
const { data: entries = [], error } = await Astro.callAction(actions.getWebMentions, { slug });

const likes = !error ? entries.filter((entry) => entry['wm-property'] === 'like-of') : [];
const comments = !error ? entries.filter((entry) => entry['wm-property'] === 'in-reply-to') : [];
---

<section class="my-8 flex flex-col gap-4">
  <h2 id="reactions" class="font-heading text-2xl font-bold text-primary md:text-4xl">Reactions</h2>

  {
    likes.length > 0 && (
      <section class="flex flex-col gap-2">
        <h3 class="font-heading text-lg font-semibold text-secondary">
          Likes
          <Badge variant="ghost" size="md" class="h-8 w-8">
            {likes.length}
          </Badge>
        </h3>
        <ul class="flex flex-wrap gap-1">
          {likes.map((entry) => (
            <li>
              <WebMentionLike {entry} />
            </li>
          ))}
        </ul>
      </section>
    )
  }

  {
    comments.length > 0 && (
      <section class="flex flex-col gap-2">
        <h3 class="flex items-center gap-2 font-heading text-lg font-semibold text-secondary">
          Comments
          <Badge variant="ghost" size="md" class="h-8 w-8">
            {comments.length}
          </Badge>
        </h3>
        <ul class="flex flex-col gap-2">
          {comments.map((entry) => (
            <li>
              <WebMentionComment {entry} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
  <BubblesVoteCount />
</section>
