---
import BubblesVoteCount from './BubblesVoteCount.astro';
---

<section class="my-8">
  <h2 id="reactions" class="mb-4 font-heading text-2xl font-bold text-primary md:text-4xl">Reactions</h2>

  <BubblesVoteCount />
</section>
