---
import { Picture } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt: string;
}

const { src, alt } = Astro.props;
---

<section class="overflow-hidden rounded-xl">
  <Picture
    {src}
    {alt}
    width={640}
    height={330}
    formats={['avif', 'webp']}
    quality={75}
    class="transition-transform duration-300 ease-out group-hover:scale-105"
  />
</section>
