---
import PostCard from '@/components/PostCard.astro';
import { Badge } from '@/components/starwind/badge';
import { Carousel, CarouselContent, CarouselItem } from '@/components/starwind/carousel';
import type { CollectionEntry } from 'astro:content';

interface Props {
  posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 && (
    <section class="my-8">
      <div class="mb-4 flex items-center gap-2">
        <h2 id="related-posts" class="font-heading text-2xl font-bold text-primary md:text-4xl">
          Related Posts
        </h2>
        <Badge variant="ghost" size="md" class="h-8 w-8">
          {posts.length}
        </Badge>
      </div>

      <Carousel class="w-full">
        <CarouselContent>
          {posts.map((post) => (
            <CarouselItem class="md:basis-1/2 lg:basis-1/3">
              <PostCard slug={post.id} {...post.data} />
            </CarouselItem>
          ))}
        </CarouselContent>
      </Carousel>
    </section>
  )
}
