---
import logo from '@/assets/site-logo.png';
import { Image } from 'astro:assets';

interface Props {
  size?: number;
}

const { size = 44 } = Astro.props;
---

<a href="/" class="rounded-md border-2 border-neutral-500 hover:border-primary/40" aria-label="Home">
  <Image src={logo} alt="Site Logo" width={size} height={size} layout="fixed" />
</a>
