---
import AutomationIcon from '@tabler/icons/outline/automation.svg';
import CloudIcon from '@tabler/icons/outline/cloud.svg';
import CodeIcon from '@tabler/icons/outline/code.svg';
import DatabaseIcon from '@tabler/icons/outline/database.svg';
import ProjectorIcon from '@tabler/icons/outline/device-projector.svg';
import UxIcon from '@tabler/icons/outline/ux-circle.svg';
import SectionHeading from './SectionHeading.astro';
import { Card, CardContent, CardHeader, CardTitle } from './starwind/card';

const skills = [
  {
    Icon: CodeIcon,
    title: 'Full Stack Development',
    description: 'Building enterprise-grade web applications using modern frameworks and technologies.'
  },
  {
    Icon: DatabaseIcon,
    title: 'Databases & Caching',
    description:
      'Designing and optimizing database schemas, and implementing caching strategies for improved performance.'
  },
  {
    Icon: ProjectorIcon,
    title: 'Audio Visual Integration',
    description:
      'Building custom AV solutions using Crestron, Extron, and AMX systems for seamless control and automation.'
  },
  {
    Icon: UxIcon,
    title: 'User Experience Design',
    description: 'Designing intuitive and engaging user experiences through research, prototyping, and testing.'
  },
  {
    Icon: AutomationIcon,
    title: 'Testing and DevOps',
    description:
      'Implementing CI/CD pipelines with GitHub Actions and Azure DevOps to ensure code quality and streamline deployments.'
  },
  {
    Icon: CloudIcon,
    title: 'Cloud Infrastructure',
    description:
      'Infrastructure as Code (IaC) using Bicep and Terraform to deploy and manage cloud resources efficiently.'
  }
];
---

<section class="mt-8 flex w-full flex-col items-center px-2">
  <SectionHeading text="Skills" />
  <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {
      skills.map(({ title, description, Icon }) => (
        <Card class="h-full gap-4 text-center" as="li">
          <CardHeader>
            <CardTitle>
              <h3 class="mb-2">{title}</h3>
              {Icon && <Icon class="mx-auto text-secondary" width={48} height={48} stroke-width={1.5} />}
            </CardTitle>
          </CardHeader>
          <CardContent>
            <p class="text-muted-foreground">{description}</p>
          </CardContent>
        </Card>
      ))
    }
  </ul>
</section>
