---
import { Card } from '@/components/starwind/card';
import ListTreeIcon from '@tabler/icons/outline/list-tree.svg';
import type { MarkdownHeading } from 'astro';

interface Props {
  title?: string;
  headings: MarkdownHeading[];
  includeCommentLink?: boolean;
}
const { title = 'Contents', headings, includeCommentLink = true } = Astro.props;

if (includeCommentLink) {
  headings.push({
    depth: 2,
    slug: 'comments',
    text: 'Comments'
  });
}

const depthClasses: Record<number, string> = {
  2: 'ml-0 font-semibold',
  3: 'ml-4 text-md',
  4: 'ml-8 text-sm'
};
---

<section>
  <div class="mb-2 flex items-center gap-2 text-secondary">
    <ListTreeIcon width={20} height={20} />
    <h2 class="font-heading text-xl font-bold">{title}</h2>
  </div>
  <Card class="card max-h-[calc(100vh-12rem)] overflow-y-auto px-6 py-4">
    <nav>
      <ul class="space-y-2">
        {
          headings.map((heading) => (
            <li class={`relative ${depthClasses[heading.depth]}`}>
              <a href={`#${heading.slug}`} class="hover:text-accent hover:underline">
                {heading.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </Card>
</section>

<style>
  .card {
    scrollbar-width: auto;
    scrollbar-color: hsl(var(--muted-foreground) / 0.3) transparent;
  }

  li::before {
    content: '•';
    position: absolute;
    left: -0.75rem;
    color: hsl(var(--muted-foreground) / 0.5);
  }
</style>
