---
import MobileMenu from './MobileMenu.astro';
import NavigationLinks from './NavigationLinks.astro';
import SiteLogo from './SiteLogo.astro';
import SocialLinks from './SocialLinks.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header
  class="w-full items-center bg-neutral-600 p-2 text-neutral-50 shadow-md md:p-3 dark:bg-neutral-800 dark:text-neutral-100"
>
  <div class="mx-auto flex max-w-6xl items-center justify-between gap-4">
    <SiteLogo />
    <NavigationLinks />
    <div class="grow"></div>
    <SocialLinks class="hidden items-center gap-2 md:flex" />
    <ThemeToggle />
    <MobileMenu />
  </div>
</header>
