---
import NavigationLinks from './NavigationLinks.astro';
import SiteLogo from './SiteLogo.astro';
import SocialLinks from './SocialLinks.astro';
---

<header class="w-full items-center bg-neutral-600 p-3 text-neutral-50 shadow-md">
  <div class="mx-auto flex max-w-6xl items-center justify-between gap-4">
    <SiteLogo />
    <NavigationLinks />
    <SocialLinks />
  </div>
</header>
