<div class="bubbles-vote text-sm"></div>
<script is:inline src="https://bubbles.town/vote.js" defer></script>

<style is:global>
  .bubbles-vote a.bubbles-vote-btn {
    --bt-fg: var(--color-muted-foreground); /* icon color */
    --bt-accent: var(--color-accent); /* count + triangle color */
  }
</style>
