---
import { isOwner } from '@/lib/auth/owner-check';
import { getLinks as getSyndicationLinks } from '@/lib/syndication';
import ShareIcon from '@tabler/icons/outline/share-3.svg';
import { getEntry } from 'astro:content';
import SyndicationLink from './SyndicationLink.astro';
import SyndicationLinksEdit from './SyndicationLinksEdit.astro';

interface Props {
  slug: string;
}

const { slug } = Astro.props as Props;

const entry = await getEntry('posts', slug);
if (!entry) {
  throw new Error(`Post with slug "${slug}" not found.`);
}

const links = await getSyndicationLinks(slug);
const canEdit = isOwner(Astro.locals.user);
---

{
  (links.length > 0 || canEdit) && (
    <section class="flex flex-col gap-2">
      <div class="flex items-center gap-2 text-secondary">
        <ShareIcon width={20} height={20} />
        <h2 class="font-heading text-xl font-bold">Syndication</h2>
      </div>
      <ul class="ml-3" data-syndication-list>
        {links.map((href) => (
          <li>
            <SyndicationLink {href} />
          </li>
        ))}
      </ul>

      {canEdit && <SyndicationLinksEdit slug={slug} links={links} />}
    </section>
  )
}
