{{ define "main" }}
<div class="contact-me-card">
  <h1 class="article-title">{{ .Title }}</h1>
  <div class="instructions">{{ .Content }}</div>

  <form id="contact-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="your-email-address@example.com" required>
    </div>

    <div class="form-group">
      <label for="message">Your message</label>
      <textarea id="message" name="message" rows="5" placeholder="Enter your message here"></textarea>
    </div>

    <button type="submit" class="submit-button">Send message</button>
  </form>
</div>

{{ partialCached "footer/footer" . }} {{ end }}
